<mat-toolbar>
  <button routerLink="/dashboard" mat-icon-button class="example-icon favorite-icon">
    <img src="./assets/img/naucalpan.png" width="100">
  </button>
  <img src="./assets/img/naucalpan.png" width="90"> &nbsp; &nbsp;
  <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{item.nombre}}</button>
  <span class="example-spacer"></span>
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
