<div class="container">
  <mat-list>
    <mat-list-item class="mat-list-item left">Datos </mat-list-item>
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Crear
          </mat-panel-title>
          <mat-panel-description>
            Da clic para {{panelOpenState1 ? 'Cerrar' : 'Abrir'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="example-container">
          <form class="example-form" [formGroup]="formDatos" (ngSubmit)="guardar()">
            <mat-form-field class="example-full-width">
              <mat-label>Naucalpan de Juárez</mat-label>
              <input matInput disabled value="C4">
            </mat-form-field>

            <table class="example-full-width" cellspacing="0">
              <tr><td><mat-form-field class="example-full-width">
                    <mat-label>ZONA</mat-label>
                    <input matInput formControlName="ZONA">
                  </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width">
                    <mat-label>COLONIA</mat-label>
                    <input matInput formControlName="COLONIA">
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>CALLE_1</mat-label>
                    <input matInput formControlName="CALLE_1">
                  </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                    <mat-label>CALLE_O_REFERENCIA</mat-label>
                    <input matInput formControlName="CALLE_O_REFERENCIA">
                  </mat-form-field></td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>MOTIVO_DE_LA_DETENCION</mat-label>
                    <input matInput formControlName="MOTIVO_DE_LA_DETENCION">
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="2">
              <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>COORDENADA_Y_LATITUD</mat-label>
                    <input matInput formControlName="COORDENADA_Y_LATITUD">
                  </mat-form-field></td>
              </tr>
              <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>COORDENADA_X_LONGITUD</mat-label>
                    <input matInput formControlName="COORDENADA_X_LONGITUD">
                  </mat-form-field></td>

              </tr>
            </table>
            <button type="submit" class="ancho" mat-raised-button color="primary"
              [disabled]="formDatos.invalid">Enviar</button>
          </form>
        </div>

        <mat-spinner *ngIf="spinner"></mat-spinner>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState3 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buscar
          </mat-panel-title>
          <mat-panel-description>
            Da clic para {{panelOpenState3 ? 'Cerrar' : 'Abrir'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Intruducir busqueda" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id_DATOS">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id_DATOS}} </td>
            </ng-container>

            <!-- fuente Column -->
            <ng-container matColumnDef="ZONA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ZONA </th>
              <td mat-cell *matCellDef="let row"> {{row.ZONA}} </td>
            </ng-container>

            <!-- Name Column  ? 'Correcto' : 'No creado' -->
            <ng-container matColumnDef="FECHA_HORA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA_HORA </th>
              <td mat-cell *matCellDef="let row"> {{row.FECHA_HORA}} </td>
            </ng-container>

            <!-- Fruit Column | date:'YYYY/MM/dd HH:mm:ss aaaa'-->
            <ng-container matColumnDef="COLONIA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> COLONIA </th>
              <td mat-cell *matCellDef="let row"> {{row.COLONIA}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="CALLE_1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Calle 1 </th>
              <td mat-cell *matCellDef="let row"> {{row.CALLE_1}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="CALLE_O_REFERENCIA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CALLE_O_REFERENCIA </th>
              <td mat-cell *matCellDef="let row"> {{row.CALLE_O_REFERENCIA}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="MOTIVO_DE_LA_DETENCION">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> MOTIVO_DE_LA_DETENCION </th>
              <td mat-cell *matCellDef="let row"> {{row.MOTIVO_DE_LA_DETENCION}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="COORDENADA_Y_LATITUD">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> COORDENADA_Y_LATITUD </th>
              <td mat-cell *matCellDef="let row"> {{row.COORDENADA_Y_LATITUD}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="COORDENADA_X_LONGITUD">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> COORDENADA_X_LONGITUD </th>
              <td mat-cell *matCellDef="let row"> {{row.COORDENADA_X_LONGITUD}} </td>
            </ng-container>


            <!-- Fruit Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="modificar(row.id_DATOS);">Editar o Eliminar</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No hay coincidencias con la busqueda : "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </mat-expansion-panel>

    </mat-accordion>
    <mat-divider></mat-divider>
  </mat-list>
</div>
