<div class="body">
    <div class="login">
        <mat-spinner *ngIf="login" diameter='50' class="spinner"></mat-spinner>
        <form *ngIf="!login" [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="./assets/img/user.png" width="50%">
            <h1>Core Bancario Crédito</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
              </mat-form-field>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
              </mat-form-field>
              <br>
              <button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="form.invalid" >Enviar</button>   
        </form>   
    </div>
</div>
