<div class="example-container">
    <div class="cen">
        <mat-toolbar color="primary">
            <h2>Ingrese Datos Del Detenido</h2>
        </mat-toolbar>
        <br>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Del Detenido</mat-label>
                    <input matInput="matInput" type='text'></mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput="matInput" type='text'></mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput="matInput" type='text'></mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Alias</mat-label>
                                <input matInput="matInput" type='text'></mat-form-field>


                            </div>

                            <br>
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Edad</mat-label>
                                        <input matInput="matInput" type='text'></mat-form-field>
                                        <mat-form-field appearance="fill">
                                          <mat-label>Sexo</mat-label>
                                          <mat-select>
                                              <mat-option value="option1">Hombre</mat-option>
                                              <mat-option value="option2">Mujer</mat-option>
                                             
                                          </mat-select>
                                      </mat-form-field>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Imagen</mat-label>
                                                <input matInput="matInput" type='text'></mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Fecha de Nacimiento</mat-label>
                                                    <input matInput="matInput" type='text'></mat-form-field>
                                                </div>
                                                <br>

                                                    <div>
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Domicilio</mat-label>
                                                            <input matInput="matInput" type='text'></mat-form-field>

                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Originalidad</mat-label>
                                                                <input matInput="matInput" type='text'></mat-form-field>
                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>Nombre Del Padre</mat-label>
                                                                    <input matInput="matInput" type='text'></mat-form-field>

                                                                    <mat-form-field appearance="fill">
                                                                        <mat-label>Nombre De La Madre</mat-label>
                                                                        <input matInput="matInput" type='text'></mat-form-field>
                                                                    </div>
                                                                    <br></div>


                                                                </div>
