<div class="example-container">
    <div class="cen">
        <mat-toolbar color="primary">
            <h2>Ingrese Datos Del Delio</h2>
        </mat-toolbar>
        <br>
            <div>
                <!--select-->
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese el Tipo del Delito</mat-label>
                    <mat-select>
                        <mat-option value="option1">Abuso Sexual</mat-option>
                        <mat-option value="option2">Portacion de Arma</mat-option>
                        <mat-option value="option3">Drograse</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese el Subtipo del Delito</mat-label>
                    <mat-select>
                        <mat-option value="option1">Abuso Sexual</mat-option>
                        <mat-option value="option2">Arma Prohibida</mat-option>
                        <mat-option value="option3">Dorgarse</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Modalidad</mat-label>
                    <mat-select>
                        <mat-option value="option1">s/v</mat-option>
                        <mat-option value="option2">c/v</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <!--select-->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Mes</mat-label>
                    <mat-select>
                        <mat-option value="option1">Enero</mat-option>
                        <mat-option value="option2">Febrero</mat-option>
                        <mat-option value="option1">Marzo</mat-option>
                        <mat-option value="option2">Abril</mat-option>
                        <mat-option value="option1">Mayo</mat-option>
                        <mat-option value="option2">Junio</mat-option>
                        <mat-option value="option1">Julio</mat-option>
                        <mat-option value="option2">Agosto</mat-option>
                        <mat-option value="option1">Septiempbre</mat-option>
                        <mat-option value="option2">Octubre</mat-option>
                        <mat-option value="option1">Noviembre</mat-option>
                        <mat-option value="option2">Diciembre</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Dia de la Semana</mat-label>
                    <mat-select>
                        <mat-option value="option1">Lunes</mat-option>
                        <mat-option value="option2">Martes</mat-option>
                        <mat-option value="option3">Miercoles</mat-option>
                        <mat-option value="option2">Jueves</mat-option>
                        <mat-option value="option3">Viernes</mat-option>
                        <mat-option value="option2">Sabado</mat-option>
                        <mat-option value="option3">Domingo</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha</mat-label>
                    <mat-select>
                        <mat-option value="option1">01</mat-option>
                        <mat-option value="option2">02</mat-option>
                        <mat-option value="option3">03</mat-option>
                        <mat-option value="option2">04</mat-option>
                        <mat-option value="option3">05</mat-option>
                        <mat-option value="option2">06</mat-option>
                        <mat-option value="option3">07</mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <br>
                <mat-form-field appearance="fill">
                    <mat-label>Hora</mat-label>
                    <input matInput="matInput" type='time'></mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Año</mat-label>
                        <mat-select>
                            <mat-option value="option1">2022</mat-option>
                            <mat-option value="option2">2023</mat-option>
                            <mat-option value="option3">2024</mat-option>
                            <mat-option value="option2">2025</mat-option>

                        </mat-select>
                    </mat-form-field>
