<div class="example-container">
    <div class="cen">
        <mat-toolbar color="primary">
            <h2>Ingrese Objetos Asegurados</h2>
        </mat-toolbar>
        <br>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Descripcion de Objetos</mat-label>
                    <textarea matInput="matInput" placeholder="Descripcion de Objetos"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese la cantidad de efectivo</mat-label>
                    <input matInput="matInput" type='text'></mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingrese la cantidad cocaia</mat-label>
                        <input matInput="matInput" type='text'></mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Ingrese la cantidad de mariguana</mat-label>
                            <input matInput="matInput" type='text'></mat-form-field>


                        </div>
                        <!--select-->
                        <br>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Ingrese la cantidad de armas blancas</mat-label>
                                    <input matInput="matInput" type='text'></mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese la cantidad de armas de fuego</mat-label>
                                        <input matInput="matInput" type='text'></mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Ingrese la cantidad de replicas de armas</mat-label>
                                            <input matInput="matInput" type='text'></mat-form-field>


                                        </div>
                                        <br>
                                            <div>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Ingrese la cantida de equipos celulares
                                                    </mat-label>
                                                    <input matInput="matInput" type='text'></mat-form-field>


                                                </div>
